# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.*    # env.local, env.production, etc.

# Logs
*.log

# Editor/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
