.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.custom-badge {
  border-radius: 7px !important;
}
/* Container */
.product-detail-container {
  padding-bottom: 50px;
}

/* Image Box with Hover Zoom */
.image-zoom-box {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
  cursor: zoom-in;
}

.detail-product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Hover Zoom Effect */
.image-zoom-box:hover .detail-product-image {
  transform: scale(1.4);
}

/* Product Title */
.product-title {
  font-weight: 600;
  margin-bottom: 10px;
}

/* Price Section */
.price-section {
  margin-bottom: 15px;
}

.old-price {
  font-size: 1rem;
}

.new-price {
  font-size: 1.6rem;
  font-weight: 700;
}



.footer-block p{
  margin-bottom: 0% !important;
}